# Dependencies
node_modules/
.pnp
.pnp.js

# Build
artifacts/
cache/
typechain-types/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Misc
*.tsbuildinfo

# Hardhat
hardhat-network-fork.json
